<div style="display:table;margin:auto;height:100%;max-width:85%">
	<div style="display:table-cell;vertical-align:middle;">
		<div style="margin-left:auto;margin-right:auto;">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-sm-12 text-center">
						<img src="img/guild.png" style="max-width:64px; height: auto" />
					</div>
					<div class="col-sm-12 text-center">
						<h3>Il Mercatino dei Vicoli</h3>
						<p style="font-family:sans-serif">I miserabili incarnano l’arte di arrangiarsi. Il mercato povero, a differenza del mercato nero dove si possono trovare oggetti sottratti al riccone di turno, è l’insieme variopinto di oggetti di diversa fattura frutto della mente, della creatività,
							dell’ingegno di chi li ha creati. Tutti gli oggetti saranno creati a partire da materiali poveri, legno, argilla, metallo, ma chi dice che il risultato non sarà sorprendente? E’ chiaro che non troverete mai un monile d’oro, ma potrete imbattervi
							in meravigliosi portafortuna di metallo accompagnati da incredibili leggende. E cosa importa se queste siano solamente il frutto della pazzia contingente del nostro saltimbanco? Tutto è vero, finché ci crediamo. E chissà che la nostra leggenda
							non sia di buon auspicio, o che il nostro augurio non si avveri. E’ un modo diverso di pensare il gioco della vendita di oggetti su extremelot. Il nostro carretto apparirà trascinato dal povero miserabile di turno e voi potrete avvicinarlo, fermarlo,
							o sarà lui stesso a mettersi in un vicolo, ben pronto ad individuare la via di fuga più vicina nel caso sopraggiungessero le guardie. Sarà un carretto di legno colorato, con le ruote mezze rotte, ma in grado ancora di portare con sé tutta la fantasia
							che i nostri miserabili sanno distribuire per le vie del Granducato.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
