<div ng-hide="vm.dataLoaded" class "container-fluid">
	<div style="display:table;margin:auto;width:100%">
		<div style="display:table-cell;vertical-align:middle;width:100%">
			<div style="margin-left:auto;margin-right:auto;">
				<div class="cssload-loader">
					<div class="cssload-inner cssload-one"></div>
					<div class="cssload-inner cssload-two"></div>
					<div class="cssload-inner cssload-three"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-show="vm.dataLoaded" class="container-fluid">
	<div class="panel panel-default col-xs-12">
		<div class="row panel-heading">Ricerca</div>
		<div class="panel-body">
			<form class="form-inline col-xs-12">
				<div class="form-group col-xs-12 col-sm-6">
					<label for="categoria">Categoria</label>
					<select ng-model="vm.filter.form.categoria" ng-change="elaboraFiltro()" class="form-control" id="categoria" placeholder="Seleziona una categoria">
						<option value=""></option>
						<option value="categoria.codice" ng-repeat="categoria in vm.categorie">{{categoria.titolo}}</option>
					</select>
				</div>
				<div class="form-group col-xs-12 col-sm-6">
					<label for="categoria">Titolo</label>
					<input type="text" ng-model="vm.filter.form.titolo" ng-change="elaboraFiltro()" class="form-control" id="categoria" placeholder="Filtra per titolo">
				</div>
			</form>
		</div>
	</div>

	<div class="panel panel-default col-xs-12">
		<div class="row panel-heading">Prodotti</div>
		<div class="row panel-body">
			<div ng-repeat="prodotto in vm.prodotti" class="panel panel-info col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin: 5px;">
				<div class="row panel-heading">{{prodotto.titolo}}</div>
				<div class="row panel-body">
					<div class="col-xs-12 text-center">
						<img ng-src="data:image/png;base64,{{prodotto.immagine}}" class="productImage img-responsive img-circle"/>
					</div>
					<div class="col-xs-12 simpleText text-center">
						{{prodotto.descrizione}}
					</div>
					<div style="margin: 5px 0px;" class="col-xs-12 text-right">
						<a ng-href="#!/prodotto/{{prodotto.codice}}" class="btn btn-info">Apri</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
