<div style="display:table;margin:auto;height:100%;max-width:85%">
	<div style="display:table-cell;vertical-align:middle;">
		<div style="margin-left:auto;margin-right:auto;">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-sm-12 text-center">
						<img src="img/guild.png" style="max-width:64px; height: auto" />
					</div>
					<div class="col-sm-12 text-center">
						<h3>Regolamento</h3>
						<p class="simpleText">Innanzitutto, non siamo una bottega. Siamo il mercatino dei vicoli. Siamo gente di strada, un carretto itinerante. Ci troverete nelle chat, probabilmente in quelle di piazza del mercato o dovunque vi sia una fiera e tanta gente. Ovviamente, per
							facilitarvi il gioco, pubblicheremo un annuncio di apertura come se fossimo una normale bottega, comunicandovi il luogo nel quale ci troveremo.</p>
						<p class="simpleText">Essere miserabili è un modo di vivere; non pensate che il nostro personaggio voglia sempre fregarvi.</p>
						<p class="simpleText">Tra tutto il ciarpame che troverete sul carretto, troverete oggetti rotti, oggetti inutili, ma anche oggetti di una unicità incredibile. Non abbiate paura di contattarci. E se volete avvicinarvi al gioco della mano d’ombra, quale migliore occasione
							dell’apertura del mercato povero?</p>
						<br/>
						<p class="simpleText"><i>N.B. A differenza di una qualunque bottega lottiana, noi ci impegniamo a consegnare l’oggetto al momento dell’acquisto. Questo significa che abbiamo sempre un oggetto pronto in borsa. Se questo dovesse saltuariamente non verificarsi, ci impegniamo a consegnare l’oggetto entro 5 giorni dalla giocata di acquisto.</i></p>
						<hr/>
						<p class="simpleText">La Mano d’Ombra crea certificati autorizzati dal Paratico di Governo. Tutti i prodotti qui riportati sono esclusiva della Mano d’Ombra, ed è severamente vietato copiarli in parte o modificarli per altre Gilde e/o Associazioni.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
